.jumbotron {
  background-color: #ebeb34;
  color: #eb3434;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #ebeb34;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
  background-color: #4ceb66; }

.footer-address-icon {
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 0; }

.tab-content {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.close {
  color: #eb3434; }
