@yellow:  #ebeb34;
@green: #4ceb34;
@red: #eb3434;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.relleno (@top, @right, @bottom, @left){
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.jumbotron {
    background-color: @yellow;
    color: @red;
    .margenes(0px, 5px);
    .relleno(30px, 30px, 30px, 30px);   
}
  
  footer {
   .relleno(10px, 10px, 10px, 10px);
    background-color: @yellow;
    .margenes(10px, 0px); 
}
  
  .card-hotel {
    flex: 1 150px;
   .margenes(10px, 0px);
 }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px;
    .margenes(10px, 0px);
    background-color: @green; 
}
  
  .footer-address-icon {
    .relleno(0px, 0px, 10px, 0px);
 }
  
  .tab-content {
    .relleno(10px, 0px, 0px, 0px);
 }
  
  .close {
    color: @red; }
  