$yellow: #ebeb34;
$red: #eb3434;
$verde:#4ceb66;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin relleno ($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron {
    background-color: $yellow;
    color: $red;
    @include margenes(0px, 5px);
    @include relleno(30px, 30px, 30px, 30px)
}

footer {
    @include relleno(10px, 10px, 10px, 10px);
    background-color: $yellow;
    @include margenes(10px, 0px );
}

 .card-hotel { 
     flex: 1 150px;  
     @include margenes(10px, 0px);
 } 

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    @include margenes(10px, 0px);
    background-color: $verde;
}

.footer-address-icon {
    @include relleno(0, 10px, 0, 0);
}

.tab-content {
    @include relleno(10px, 0, 0, 0);
}

.close {
    color: $red;
}